{% extends "grouping/base_site_grouping.html" %}
{% block title %} Review {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
{#        <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
{#          <div class="tile-stats">#}
{#            <div class="icon"><i class="fa fa-caret-square-o-right" style="padding-bottom: 5px"></i></div>#}
{#              <div class="count"><i>Create a New Project</i></div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
{#          <div class="tile-stats">#}
{#            <div class="icon"><i class="fa fa-list-alt" style="padding-bottom: 5px"></i></div>#}
{#              <div class="count"><i>View Existing Projects</i></div>#}
{#          </div>#}
{#        </div>#}

    </div>
    <!-- /top tiles -->

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
          <form action="" method="post">
            {% csrf_token %}
            <div class="x_title">
              <h2>Project: {{ project_name }} <small>Review the data before submitting</small></h2>
                <div style="overflow:auto;">

                  <div style="float:right;">

                        <a style="padding-right: 2em;" disabled href="{% url 'viewlist' %}" >Return to List</a>

                      <button disabled type="submit" id="Btn" onclick="" name="Performs_Checks" value="Performs_Checks" class="btn btn-success">
                          <i class="fa fa-paper-plane" aria-hidden="true" style="padding-right: 1em;"></i>
                          Submit Project
                      </button>

                  </div>
                </div>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Table</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Review</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">

                                {% for header in json_file_headers %}
                                    <th class="column-title">
                                        <input readonly name="header_{{ header }}" style="color: #0a0e14" value="{{ header }}">


                                    </th>

                                {% endfor %}

                            </tr>
                          </thead>

                          <tbody>
                            {% for key,item in json_file_candidates_dictionary.items %}
                            <tr class="even pointer">
                              {% for header, element in item.items %}
                                <td class=" ">

                                      <a  >

                                          <input readonly name="item_{{ key }}_{{ header }}" style="color: #0a0e14" value="{{ element }}">


                                      </a>
                                </td>
                              {% endfor %}
                            </tr>
                            {% endfor %}

                          </tbody>
                        </table>
                      </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <p>Click on <i>Perform Checks </i>to start the review of the data</p>
                  </div>

                </div>
              </div>
    <!--              <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->




            </div>
            </form>
          </div>

        </div>

    </div>


    <div class="row">



    </div>

    <br />

    <div class="row">

    </div>

    <div class="row">

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
