{% extends "grouping/base_site_grouping.html" %}
{% block title %} Home {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
    <style>
    * { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 8px;
  font-size: 12px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}



    </style>
{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">


    </div>
    <!-- /top tiles -->

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                    <div class="col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
                        {% if from_post == 1 %}

                          <div class="col-md-4 col-sm-12 col-xs-12" style="padding-top: 3px;">
                            <h2>Table Selected: <small></small>                </h2>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <select name="select_table" class="form-control" >

                              <option value="{{ selected_table }}">{{ selected_table }}</option>

                            </select>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                        </div>

                        {% else %}
                        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-top: 3px;">
                            <h2>Upload Constraints Data <small>select the constraints and the file with the data</small></h2>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top: 6px;">
                      {% if from_post == 1 %}
                          To change the table,
                          <a href="{% url 'project_constraints_upload_view' %}"><strong>return to selection</strong></a>
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12"></div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
                 {% if from_post == 1 %}
                    <form action="{% url 'project_constraints_uploaded_view' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="table_selected" value="{{ selected_table }}">
                     <div class="col-md-4 col-sm-12 col-xs-12">
                         <i>Original Table</i>
                         <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">
                                    <th class="column-title">
                                        {{ selected_table }}
                                    </th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for object in table_object %}
                            <tr class="even pointer">

                                <td class=" ">
                                      <a  >{{ object.value }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                     <div class="col-md-4 col-sm-12 col-xs-12">
                         <i>Data to Upload</i>
                        <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">

                                {% for header in json_file_headers %}
                                    <th class="column-title">
                                        <input readonly name="header_{{ header }}" style="color: #0a0e14" value="{{ header }}">

                                    </th>

                                {% endfor %}

                            </tr>
                          </thead>

                          <tbody>
                            {% for key,item in json_file_candidates_dictionary.items %}
                            <tr class="even pointer">
                              {% for header, element in item.items %}
                                <td class=" ">

                                      <a  >

                                          <input name="item_{{ key }}_{{ header }}" style="color: #0a0e14" value="{{ element }}">


                                      </a>
                                </td>
                              {% endfor %}
                            </tr>
                            {% endfor %}

                          </tbody>
                        </table>
                      </div>
                     </div>
                     <div class="col-md-4 col-sm-12 col-xs-12">
                     <br><br><br>
                         The values will be added to the table after verifying that there are not duplication.
                         Please note that if you want to change the existing value you need to contact the administrator
                     <br><br><br>
                         <button name="submit review" type="submit" class="btn btn-success">Submit</button>

                     </div>
                    </form>
                    {% else %}

                    <form data-parsley-validate class="form-horizontal form-label-left" action="{% url 'project_constraints_upload_view' %}" method="post" enctype = "multipart/form-data">

                        {% csrf_token %}

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Constraints Table<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="select_table" class="form-control" >

                          <option value="Nationality">Nationality</option>
                          <option value="JobTitle">Job Title</option>
                          <option value="Company">Company</option>
                          <option value="ProfessionalCategory">Professional Category</option>
                          <option value="JobFunction">Job Function</option>

                        </select>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Select File<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <input  style="display: inline" required="required" class="form-control col-md-7 col-xs-12" type="file" id="input_file" name="input_file">
                  </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              		  <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>

                {% endif %}

            </div>
          </div>
        </div>
      </div>

      <div class="row">



    </div>

    <br />

    <div class="row">

    </div>

    <div class="row">

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
